<div class="container">
      <div class="card-deck mb-3 text-center">

        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Resultado</h4>
          </div>
          <div class="card-body">
              <h1>Botellas <span class="label label-info">@ViewBag.Botellas <span class="glyphicon glyphicon-tint"></span></span></h1>
              <h1>Días <span class="label label-info">@ViewBag.Dias <span class="glyphicon glyphicon-calendar"></span></span></h1>

         

          </div>
        </div>
     </div>
</div>
