<div style="max-width: 220px;">
    <form asp-action="Calcular" asp-controller="Home" method="get" >
      <div class="text-center mb-4">

        <h1 class="h3 mb-3 font-weight-normal">Cuánto tiempo tardas bañandote</h1>

      </div>

      <div class="form-label-group">
         <label for="ProximoCumple">Próximo cumpleaños</label>
        <input type="date" id="ProximoCumple" name="ProximoCumple " class="form-control"  required="" autofocus="">
       
      </div>

      <div class="form-label-group">
         <label for="minutos">Minutos</label>
        <input type="number" id="minutos" name="minutos" min="5" class="form-control" required="">
       
      </div>


      <button class="btn btn-lg btn-primary btn-block" type="submit">Calcular</button>

    </form>

</div>
